<h1 class="text-center">BOOk YOUR CABS</h1>
 <div class="container">
   <div class="row">
     <div class="col-sm-6 offset-sm-3">
       <form method="post" >
         <!-- {{!-- <div>
           <label for="name">Cab Model</label>
           <input type="text" name="cab_model" id="cab_model" class="form-control" placeholder="">
         </div> --}} -->

         <div>
            <label for="name">Choose your cab</label>
            <select type="text" name="choose_your_cab" id="choose_your_cab" class="form-control" placeholder="">
                <option value="1">AMAZE</option>
                <option value="2">CITY</option>
                <option value="3">DZIRE</option>
                <option value="3">VIRTUS</option>
                <option value="3">CIAZ</option></select>
          </div>


         <div>
           <label for="name">Date of Booking</label>
           <input type="date" name="date_of_booking" id="date_of_booking" class="form-control" placeholder="">
         </div>
         <div>
           <label for="name">Date of Travel</label>
           <input type="date" name="date_of_travel" id="date_of_travel" class="form-control" placeholder="">
         </div>
         <div>
            <label for="name">Number of Passengers</label>
            <input type="integer" name="number_of_passengers" id="number_of_passengers" class="form-control" placeholder="">
          </div>
          <div>
            <label for="name">Pick Up Time</label>
            <input type="time" name="pick_up_time" id="pick_up_time" class="form-control" placeholder="">
          </div>

         <div>
           <label for="name">Pick Up Location</label>
           <select type="text" name="pick_up_location" id="pick_up_location" class="form-control"  placeholder="">
              <option value = "Ernakulam">Ernakulam</option></select>
         </div>

         <div>
           <label for="name">Drop Off Location</label>
           <select type="text" name="drop_off_location" id="drop_off_location" class="form-control"  placeholder="">
              <option value = "Kochi">Kochi</option>
              <option value = "palakkad">Palakkad</option>
               <option value = "Thrissur">Thrissur</option></select>
         </div>
         
         
          <pre>
          </pre>
     <!-- {{!-- {{#if result}}
     {{#if result.success }}
     <div class="alert alert-success">Data Saved Successfully♻</div>
     {{else}}
     <div class="alert alert-danger">Saving Failed</div>
     {{/if}}
     {{/if}} --}} -->
     <div class="d-grid mt-5">
       <button class="btn btn-primary">SAVE</button>
     </div>
 
 
     </form>
   </div>
 </div>
 </div>






























{{!-- <div>

    <h1>BOOK YOUR CABS </h1>



    <form method="post" action="">


        <table cellspacing="6" cellpadding="4">
            <tr>
                <td>
                    <label for="choose_your_cab">CHOOSE YOUR CAB</label>
                </td>
                <td>
                    <select id="choose_your_cab" name="choose_your_cab" >
                        <option value="1">AMAZE</option>
                        <option value="2">CITY</option>
                        <option value="3">DZIRE</option>
                        <option value="3">VIRTUS</option>
                        <option value="3">CIAZ</option>
                    </select>
                </td>
            </tr>
            {{!-- <tr>
                <td>

                    <label for="cab_id"> CAB ID:</label>
                </td>

                <td>
                    <input type="integer" id="cab_id" name="cab_id">

                </td>
            </tr>
            <tr>
                <td>

                    <label for="id"> CUSTOMER ID:</label>
                </td>

                <td>
                    <input type="integer" id="id" name="id">

                </td>
            </tr>
            <tr>
                <td>

                    <label for="driver_id"> DRIVER ID:</label>
                </td>

                <td>
                    <input type="integer" id="driver_id" name="driver_id">

                </td>
            </tr> --}}
            <tr>
                <td>

                    <label for="date_of_booking"> BOOKING DATE:</label>
                </td>

                <td>
                    <input type="date" id="date_of_booking" name="date_of_booking" placeholder="ENTER  booking date">

                </td>
            </tr>

            <tr>
                <td>
                    <label for="date_of_travel">DATE OF TRAVEL:</label>
                </td>
                <td>
                    <input type="date" id="date_of_travel" name="date_of_travel" placeholder="ENTER Date of travel">
                </td>
            </tr>


            <tr>
                <td>
                    <label for="number_of_passenger">NUMBER OF PASSENGERS:</label>
                </td>
                <td>
                    <input type="text" id="number_of_passenger" name="number_of_passengers">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pick_up_time">PICK UP TIME:</label>

                </td>
                <td>
                    <input type="Time" id="appt" name="pick_up_time" placeholder="ENTER PICK UP TIME">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="pick_up_location">PICK UP LOCATION:</label>
                </td>
                <td>
                    <select id="pick_up_location" name="pick_up_location" >
                        <option value="Ernakulam">Ernakulam</option>
                       
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="drop_off_location">DROP OFF LOCATION:</label>
                </td>
                <td>
                    <select id="drop_off_location" name="drop_off_location" >
                        <option value="Kochi">Kochi</option>
                        <option value="palakkad">Palakkad</option>
                        <option value="Thrissur">Thrissur</option>

                    </select>
                </td>
            </tr>


            <tr>
                <td>
                    <input type="checkbox" <p>I agree the <a href="terms.html">terms and condition</a> of website </p>
                </td>
            </tr>
        </table>

        <div class="d-grid-mt-3">
            <input type="submit" value="Book" class="btn btn-primary">
            {{!-- <input type="submit" value="Save" class="btn btn-primary"> --}}
        </div>
</div>
</form> --}}