<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="text-center">Driver Login</h1>
            <form method="post">
                <div>
                    <label for="driver_email">Email</label>
                    <input type="email" name="driver_email" id="driver_email" class="form-control" placeholder="someone@example.com">
                </div>
                <div>
                    <label for="driver_password">Password</label>
                    <input type="password" name="driver_password" id="driver_password" class="form-control">
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">login</button>
                    {{#if message}}
                        <p class="text-danger">{{message}}</p>
                    {{/if}}
                </div>
            </form>
            
            
 <a href="/driver/create" style="color: black;">New User? Create Account.</a>
        </div>
    </div>
</div>