<link rel="stylesheet" href="/static/style.css">



<div class="container bg-info" style="display: flex; align-items:center; justify-content: center; height:75vh ">

    <div >

        <div style="margin: 5px;">



        <a href="/driver/viewBooking">

            <button class="btn btn-success"> view bookings</button>

        </a>



    </div>

    {{!-- <div style="margin: 5px;">

        <a href="viewdriverprofile" >

            <button class="btn btn-success"> view profile</button>

        </a>



    </div> --}}



    </div>

   





</div>